/* hex */
/* works alot like rgb */
/* covers the spectrum of red, green and blue colors */
/* gives us much more color choices */
/* uses numbers and letters */
/* a-f a=10, f=15 */
/* #FF0000 - red */
/* #00FF00 - green */
#first {
  color: #ff0000;
  background: #000;
}

#second {
  color: #fff;
  background: #00ff00;
}

#three {
  color: #0000ff;
  background: #f15025;
}

#four {
  color: #f234ad;
  background: #222;
}
