/* line-height
letter-spacing
word-spacing
text-transform
text-decoration
 */

a {
  font-size: 20px;
  text-decoration: none;
}
h1 {
  text-transform: capitalize;
}
body {
  text-transform: uppercase;
}
.one {
  line-height: 0.5em;
}
.two {
  letter-spacing: 5px;
  text-decoration: underline;
}
.three {
  word-spacing: 20px;
  text-decoration: overline;
}
