/* class selectors */
/* CSS class applies a style to multiple elements. ID, on the other hand, applies a style to one unique element. */

.black {
  color: black;
}

.red {
  color: red;
  background: blueviolet;
}
